@charset "utf-8";
ul#album-fotos{
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    list-style: none;
}

ul#album-fotos li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid rgb(243, 239, 239);
    background-color: white;
    box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.4);
    -webkit-transition: all 0.6s ease-in;
}
ul#album-fotos li span{
    opacity:0;
    color: rgb(179, 173, 173);
    text-shadow: 2px 2px 2px rgb(24, 23, 23);
    background-color: rgba(185, 180, 180, 0.3);
    font-size: 9pt;    
    line-height: 380px;
    padding: 5px;
}

ul#album-fotos li:hover {
    -webkit-transform: scale(1.5);
}



ul#album-fotos li:hover span{ /*span é elemento de linha, hover é apra quando passar o mouse por cima*/
    opacity: 1;
}

ul#album-fotos li#album01{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-01.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}
ul#album-fotos li#album01:hover {
    background-position: 0px 0px;
    background-size: 200px;
}

ul#album-fotos li#album02{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-02.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*efeito de passar o mouse e aparecer a imagem*/
ul#album-fotos li#album02:hover {
    background-position: 0px 0px;
    background-size: 200px;
}

ul#album-fotos li#album03{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-03.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*efeito de passar o mouse e aparecer a imagem*/
ul#album-fotos li#album03:hover {
    background-position: 0px 0px;
    background-size: 200px;
}

ul#album-fotos li#album04{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-04.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*efeito de passar o mouse e aparecer a imagem*/
ul#album-fotos li#album04:hover {
    background-position: 0px 0px;
    background-size: 200px;
}

ul#album-fotos li#album05{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-05.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*efeito de passar o mouse e aparecer a imagem*/
ul#album-fotos li#album05:hover {
    background-position: 0px 0px;
    background-size: 200px;
}

ul#album-fotos li#album06{ /*buscando o link do album-fotos e dentro dele tudo que for li espesificando  a lista foto 01*/
    background: url('../_imagens/galeria-06.jpg')no-repeat;
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-position: 50% 50%; /*posiciona o centro da foto*/
    background-size: 400px 400px;
    background-color: #ffffff;
}

/*efeito de passar o mouse e aparecer a imagem*/
ul#album-fotos li#album06:hover {
    background-position: 0px 0px;
    background-size: 200px;
}